/* You can add global styles to this file, and also import other style files */
app-root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #2c3e50;
}

h2 {
  color: #34495e;
  font-family: 'Courier New', Courier, monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2em 0;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f4f4f4;
} 
tr:nth-child(even) {
  background-color: #ffffff;  
}
tr:nth-child(odd) {
  background-color: #c4f4e1;
}
tr:hover {
  background-color: #ddd;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
