<div>
  <h2>HRMS</h2>
  <p>Welcome to HRMS platform</p>
  <div class="links">
    <a href="https://manning.com" target="_blank">Manning Publications</a> |
    <a href="https://www.manning.com/books/modern-angular" target="_blank">Modern Angular Book</a>
  </div>
  <div class="links">
    <a href="employees/list">Employee List</a> |
    <a href="employees/create">Create Employee</a>
  </div>
  @if (isAuth$ | async) {
    <p>You are logged in.</p>
  } @else {
    <p>You are not logged in.</p>
  }
</div>